#!/usr/bin/env sh

{{plugin "skip.sh"}}

{{range $dc := datacenters}}{{range $services := services (printf "@%s" $dc)}}{{range $service := service (printf "%s@%s" $services.Name $dc)}}{{if $service.Tags | contains "need-nginx"}}{{if plugin "skip.sh" $service.Name }}
SERVICE_NAME={{$service.Name}} consul-template -once -template "/root/service.template:/etc/simp_le-auto.d/{{$service.Name}}"
{{end}}{{end}}{{end}}{{end}}{{end}}

/bin/start
